<?xml version="1.0" encoding="utf-8"?>
<layer-list xmlns:android="http://schemas.android.com/apk/res/android">
    <item>
        <shape android:shape="rectangle">
            <corners android:radius="20dp" />
            <solid android:color="__PRIMARY_COLOR__" />
        </shape>
    </item>
    <item android:left="14dp" android:right="14dp" android:top="14dp" android:bottom="14dp">
        <shape android:shape="rectangle">
            <corners android:radius="16dp" />
            <solid android:color="__SURFACE_COLOR__" />
        </shape>
    </item>
    <item android:left="28dp" android:right="28dp" android:top="28dp" android:bottom="28dp">
        <shape android:shape="oval">
            <solid android:color="__ACCENT_COLOR__" />
        </shape>
    </item>
</layer-list>
